[user]
	name = Jeffrey Heifetz
	email = jheifetz@blackberry.com
[github]
	user = jeffheifetz
[color]
	ui = true
	status = auto
	diff = auto
	interactive = auto
	branch = auto
[core]
	autocrlf = input
[diff]
	tool = diffmerge
[difftool]
	prompt = false
[mergetool]
	prompt = false
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
