[user]
	name = Jeffrey Heifetz
	email = jheifetz@blackberry.com
[github]
	user = jeffheifetz
[color]
	ui = true
	status = auto
	diff = auto
	interactive = auto
	branch = auto
[core]
	autocrlf = input
