[user]
	name = Jeffrey Heifetz
	email = jeffheifetz@gmail.com
[github]
	user = jeffheifetz
[color]
	ui = true
	status = auto
	diff = auto
	interactive = auto
	branch = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
    pr = !git log -1 --pretty=%B | awk '{ print \"\\\"\"$0\"\\\"\"}' | xargs hub pull-request -l "NEEDS_REVIEW" -m | xargs open
